{% extends 'firstApp/base.html' %}
{% block header %}
    <h1>View Todo List</h1>
{% endblock header %}
{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        <h3>{{ todo.name }}</h3>
        <ul>
            {% for item in todo.item_set.all %}
                {% if item.complete %}
                    <li><input type="checkbox" value="clicked" name="c{{item.id}}" checked>{{ item.text }}</li>
                {% else %}
                    <li><input type="checkbox" value="clicked" name="c{{item.id}}">{{ item.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit" name="save" value="save">Save</button>
        <input type="text" name="new_item">
        <button type="submit" name="add_item" value="add_item">Add Item</button>
    </form>
{% endblock content %}
