{% extends 'firstApp/base.html' %}
{% block content %}
    <h2 class="mt-2">{{ todo.name }}</h2>
    <!-- <p></p> -->

    <form method="post" action="#" class="">
        {% csrf_token %}
            {% for item in todo.item_set.all %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        {% if item.complete %}
                        <input type="checkbox" value="clicked" name="c{{item.id}}" checked>
                        {% else %}
                        <input type="checkbox" value="clicked" name="c{{item.id}}">
                        {% endif %}
                    </div>
                </div>
                <input type="text" name="c{{ item.id }}" value="{{ item.text }}" class="form-control" disabled>
            </div>
            {% endfor %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" name="add_item" value="add_item" class="btn btn-success">Add Item</button>
            </div>
            <input type="text" name="new_item">
        </div>
        <button type="submit" name="save" value="save" class="btn btn-success">Save</button>
    </form>
{% endblock content %}
